:root {
  --primary-green: #009222;
  --primary-yellow: #ffC10C;
  --primary-yellow-hover: #fedd56;
  --second-yellow: #ffCB1C;

  --primary-white: #ffffff;
  --primary-white-hover: #f2f2f2;

  --height-header: 80px;
  --height-footer: 60px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  position: relative;
  height: 100vh;
}

.container {
  max-width: 600px;
  width: 100%;
  padding: 16px 12px;
  margin: 0 auto;
}

.text-bold {
  font-weight: 800;
}

.text-normal {
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
}
